VOIE_FABRIC_NAME=baremetal-1
VOIE_FABRIC_CERT=/etc/voie/secrets/fabric-server.crt
VOIE_FABRIC_KEY=/etc/voie/secrets/fabric-server.key
VOIE_FABRIC_CA=/etc/voie/secrets/fabric-ca.crt
VOIE_FABRIC_CLIENT_SHA256={{ voie_fabric_client_sha256 }}
VOIE_WORKSPACE_VG=voie-ws
VOIE_WORKSPACE_LV_SIZE={{ workspace_lv_size | default('1G') }}
VOIE_FABRICD_BIND=0.0.0.0:7840
VOIE_STORAGE_CLASS=voie-workspace
VOIE_KUBECONFIG=/var/lib/voie-fabricd/kubeconfig
VOIE_KUBECTL="/run/current-system/sw/bin/k3s kubectl"
VOIE_CRICTL="/run/current-system/sw/bin/k3s crictl"
PATH=/run/current-system/sw/bin
KUBECONFIG=/var/lib/voie-fabricd/kubeconfig
