VOIE_FABRIC_NAME=baremetal-1
VOIE_FABRIC_CERT=/etc/voie/secrets/fabric-server.crt
VOIE_FABRIC_KEY=/etc/voie/secrets/fabric-server.key
VOIE_FABRIC_CA=/etc/voie/secrets/fabric-ca.crt
VOIE_FABRIC_CLIENT_SHA256={{ voie_fabric_client_sha256 }}
VOIE_WORKSPACE_VG=voie-ws
VOIE_STORAGE_RUNTIME_POOL={{ runtime_pool_size | default('64G') }}
VOIE_STORAGE_WORKSPACE_POOL=workspace
VOIE_STORAGE_WORKSPACE_POOL_DATA={{ storage_workspace_pool_data | default('264G') }}
VOIE_STORAGE_WORKSPACE_NORMAL_BUDGET={{ storage_workspace_normal_budget | default('128G') }}
VOIE_STORAGE_WORKSPACE_RESTORE_HEADROOM={{ storage_workspace_restore_headroom | default('64G') }}
VOIE_STORAGE_STAGING={{ storage_staging_size | default('64G') }}
VOIE_STORAGE_WORKSPACE_DEFAULT={{ storage_workspace_default | default('16G') }}
VOIE_STORAGE_WORKSPACE_LARGE={{ storage_workspace_large | default('32G') }}
VOIE_STORAGE_WORKSPACE_ELEVATED={{ storage_workspace_elevated | default('64G') }}
VOIE_STORAGE_LINEAR_NORMAL_BUDGET={{ storage_linear_normal_budget | default('96G') }}
VOIE_STORAGE_LINEAR_RECOVERY_RESERVE={{ storage_linear_recovery_reserve | default('48G') }}
VOIE_STORAGE_EMERGENCY_FLOOR={{ storage_emergency_floor | default('16G') }}
VOIE_STORAGE_DATABASE_DEV={{ storage_database_dev | default('8G') }}
VOIE_STORAGE_DATABASE_DEV_ELEVATED={{ storage_database_dev_elevated | default('16G') }}
VOIE_STORAGE_DATABASE_PROD={{ storage_database_prod | default('16G') }}
VOIE_STORAGE_DATABASE_PROD_ELEVATED={{ storage_database_prod_elevated | default('32G') }}
VOIE_STORAGE_DEPLOYMENT={{ storage_deployment | default('1G') }}
VOIE_FABRICD_BIND=0.0.0.0:7840
VOIE_FABRICD_STAGE_ROOT=/var/lib/voie-fabricd/stage
VOIE_FABRICD_STAGE_MODE=lvm
VOIE_FABRICD_STAGE_VOLUME=voie-ws/stage
VOIE_STORAGE_CLASS=voie-workspace
VOIE_RUNNER_IMAGE=voie-runner:c1
VOIE_WORKSPACE_IMAGE=voie-workspace:v1
VOIE_KUBECONFIG=/var/lib/voie-fabricd/kubeconfig
VOIE_KUBECTL="/run/current-system/sw/bin/k3s kubectl"
VOIE_CRICTL="/run/current-system/sw/bin/k3s crictl"
PATH=/run/current-system/sw/bin
KUBECONFIG=/var/lib/voie-fabricd/kubeconfig
