cluster-init: true
write-kubeconfig-mode: "0600"
disable:
  - traefik
  - servicelb
  - local-storage
flannel-backend: none
disable-network-policy: true
secrets-encryption: true
kubelet-arg:
  - "runtime-request-timeout=10m"
{% if k3s_tls_sans is defined %}
tls-san:
{% for san in k3s_tls_sans %}
  - {{ san }}
{% endfor %}
{% endif %}
